# Pandas 'groupby' feature
An example on how to group pandas/dataframe data by year, and month and apply aggregation functions to it
More information can be found [Pandas GroupBy: Your Guide to Grouping Data in Python](https://realpython.com/pandas-groupby/) and [Pandas: How to Read and WRite Fiels](https://realpython.com/pandas-read-write-files/)

In [1]:
import pandas as pd
pd.set_option("display.precision", 2)

In [2]:
file_path = "data.csv"

In [3]:
dtypes = {"times": "int8"}
df = pd.read_csv(file_path, dtype=dtypes, parse_dates=["date"], index_col=0)

In [4]:
# calculate anual information by grouping data by year
anual = df.groupby([df.index.year])["times"].agg(["max", "count", "sum"]).rename_axis(["year"])
anual["avg"] = 365 / anual["count"]

In [5]:
anual

      max  count    sum     avg
year
2019    4    198  247.0    1.84
2020    1      1    1.0  365.00

In [6]:
# calculate monthly information by grouping data by month
monthly = df.groupby([df.index.year, df.index.month])["times"].agg(["max", "count", "sum"]).rename_axis(["year", "month"])
monthly

            max  count  sum
year month
2019 1        2     17   21
     2        3     18   25
     3        2     16   19
     4        2     14   15
     5        2     14   17
     6        2     18   20
     7        2     24   26
     8        4     18   35
     9        2     13   16
     10       1     15   15
     11       2     13   17
     12       2     18   21
2020 1        1      1    1